<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
		  package="com.example.checklibrary">

	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<application
			android:allowBackup="true"
			android:supportsRtl="true"
			android:theme="@style/AppTheme" tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">
		<activity android:name=".activity.NearByActivity"
		android:screenOrientation="portrait"/>
		<activity android:name=".activity.ScanQrActivity"
				  android:screenOrientation="portrait"/>
		<activity android:name=".activity.ShakeActivity"
				  android:screenOrientation="portrait"/>
	</application>
</manifest>